@import url('https://fonts.googleapis.com/css?family=Inter:wght@400;600;800&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --c-a: #CCDAD1;
    --c-b: #9CAEA9;
    --c-c: #788585;
    --c-d: #6F6866;
    --c-e: #38302E;
    --c-f: #E8E3DC;
    --c-g: #B2C5B2;
    --c-h: #5C6A72;
    --c-i: #A27B5C;
    --c-j: #4A6FA5;
    --c-k: #00274C;
    --c-l: #16803D;
    --c-m: #BF5700;
    --c-n: #9CA3AF;

    --theme-bg: var(--c-b);
    --theme-surface: var(--c-a);
    --theme-text: var(--c-e);
    --theme-text-white: var(--c-a);
    --theme-accent: var(--c-e);
    --theme-border: var(--c-c);
    --theme-strip: var(--c-b);
    --theme-strip-text: var(--c-e);
    --theme-textbox: var(--c-f);
    --theme-placeholder: var(--c-e);
    --theme-pencil: var(--c-e);
    --theme-superscript: var(--c-e);
    --theme-moveto: var(--c-f);
    --theme-scripture: var(--c-f);
    --theme-verse: var(--c-f);

    --theme-button: var(--c-e);
    --theme-button-blue: var(--c-d);
    --theme-button-blue-hover: var(--c-c);
    --theme-button-gray: var(--c-c);
    --theme-button-dark: var(--c-a);
    --theme-button-hover: var(--c-k);
    --theme-pill-green: var(--c-l);
    --theme-pill-orange: var(--c-m);

    --theme-link: var(--c-j);
    --theme-link-hover: #3B5C84;

    --theme-success: var(--c-g);
    --theme-warning: var(--c-i);
    --theme-info: var(--c-j);

    --theme-card: var(--c-b);
    --theme-card-hover: var(--c-c);
    --theme-card-hover-alt: var(--c-b);
    --theme-card-alt-inverse: var(--c-h);
    --theme-card-alt-hover: var(--c-n);
    --theme-card-alt: var(--c-f);
    --theme-hover: var(--c-d);

    --theme-focus: var(--c-d);
    --theme-shadow: rgba(56, 48, 46, 0.35);

    --theme-error: #ef4444;
    --theme-button-error: #c43838;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-a: #CCDAD1;
    --c-b: #9CAEA9;
    --c-c: #788585;
    --c-d: #6F6866;
    --c-e: #38302E;

    --c-f: #E8E3DC;
    --c-g: #B2C5B2;
    --c-h: #5C6A72;
    --c-i: #A27B5C;
    --c-j: #4A6FA5;
    --c-k: #00274C;
    --c-l: #16803D;
    --c-m: #BF5700;
    --c-n: #9CA3AF;

    --theme-bg: var(--c-d);
    --theme-surface: var(--c-e);
    --theme-text: var(--c-a);
    --theme-text-white: var(--c-e);
    --theme-accent: var(--c-a);
    --theme-border: var(--c-b);
    --theme-strip: var(--c-d);
    --theme-strip-text: var(--c-a);
    --theme-textbox: var(--c-f);
    --theme-placeholder: var(--c-e);
    --theme-pencil: var(--c-f);
    --theme-superscript: var(--c-f);
    --theme-moveto: var(--c-e);
    --theme-scripture: var(--c-e);
    --theme-verse: var(--c-e);

    --theme-button: var(--c-a);
    --theme-button-blue: var(--c-b);
    --theme-button-blue-hover: var(--c-a);
    --theme-button-gray: var(--c-b);
    --theme-button-dark: var(--c-e);
    --theme-button-hover: var(--c-k);
    --theme-pill-green: var(--c-l);
    --theme-pill-orange: var(--c-m);

    --theme-link: var(--c-j);
    --theme-link-hover: #678CB8;

    --theme-success: var(--c-g);
    --theme-warning: var(--c-i);
    --theme-info: var(--c-j);

    --theme-card: var(--c-d);
    --theme-card-hover: var(--c-b);
    --theme-card-hover-alt: var(--c-b);
    --theme-card-alt: var(--c-h);
    --theme-card-alt-inverse: var(--c-f);
    --theme-hover: var(--c-b);
    --theme-card-alt-hover: var(--c-n);

    --theme-focus: var(--c-a);
    --theme-shadow: rgba(204, 218, 209, 0.35);

    --theme-error: #ef4444;
    --theme-button-error: #c43838;
  }
}

@layer base {
  input::placeholder {
    color: var(--theme-text);
    opacity: 0.7;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--theme-bg);
  color: var(--theme-text);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-scrollbar-thumb) var(--theme-scrollbar-track);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--theme-scrollbar-track);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--theme-scrollbar-thumb);
  border-radius: 8px;
  border: 2px solid var(--theme-scrollbar-track);
}

.header-nav--no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.header-nav--no-scrollbar::-webkit-scrollbar {
  display: none;
}

:root {
  --theme-scrollbar-track: var(--theme-surface);
  --theme-scrollbar-thumb: var(--theme-accent);
}


@media (prefers-color-scheme: dark) {
  :root {
    --theme-scrollbar-track: var(--theme-bg);
    --theme-scrollbar-thumb: var(--theme-accent);
  }
}

html {
  -webkit-text-size-adjust: 100%;
}

@supports (-webkit-touch-callout: none) {
  html, body,
  a, button, input, label, select, textarea {
    touch-action: manipulation;
  }

  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

.text-3d-raised {
  text-shadow:
          0 1px 0 var(--theme-surface),
          0 2px 0 var(--theme-border),
          0 3px 4px var(--theme-shadow);
}

.text-3d-engraved {
  text-shadow:
          0 -1px 0 var(--theme-surface),
          0 -2px 0 var(--theme-border),
          0 -3px 4px var(--theme-shadow);
}

.scrollpad {
  scrollbar-gutter: stable both-edges;
}
